[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
scikit-video = "*"
opencv-python = "*"
opencv-contrib-python = "*"
python_speech_features = "*"
pytest = "*"
sklearn = "*"
torch = "*"
pysnooper = "*"
gofpatterns = {git = "https://github.com/malk271828/GoFPatterns"}
pyfunctor = "*"
graphviz = "*"
pydotplus = "*"
pydot = "*"
pandas = "*"
ipython = "*"
dlib = "*"
pytube = "*"
imutils = "*"
tqdm = "*"
colorama = "*"
mlflow = "*"
keras-self-attention = "*"
scikit-image = "*"
pip = "*"
keras = "~=2.1.3"
tensorflow = "~=1.13.0"
matplotlib = "*"
soundfile = "*"
pylint = "*"
h5py = "*"
validators = "*"
numpy = "*"
argparse = "*"
requests = "*"
librosa = "*"
loky = "*"

[requires]
python_version = "3.5"

[pipenv]
allow_prereleases = true
